<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="AngularLanguageService-aggregate" value="https://devdiv.pkgs.visualstudio.com/DevDiv/_packaging/AngularLanguageService-aggregate/nuget/v3/index.json" />
    </packageSources>
    <disabledPackageSources>
        <clear />
    </disabledPackageSources>
</configuration>
